body {
  background-color: #ececec;
  margin: 0;
  padding: 0;
  height: 100%;
}

.login-form {
    width: 90%;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #F0F0F0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    
    border-top: 1px solid #C61618;
    border-radius: 5px 5px 5px 5px;
    border-bottom: 1px solid #C61618;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}

.left-menu { /* Login left side menu*/
  float: left;
  background-color: #fff;
  text-align: center;
  width: 30%;
  height: 100%;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1200px){ /* Responsive Media Queries*/
  .left-menu {
    width: 35%;
        height: 100% !important;
  }
  .right-menu {
    width: 65% !important;
    /*background-size: 110% 100% !important;*/
    background-size:cover;
    /*height: 65rem !important;*/
  }

}

@media screen and (max-width: 650px){ /* Responsive Media Queries*/
  .left-menu {
    width: 100% !important;

  }
  .right-menu {
    display: none;
  }

}

.right-menu { /* Right Side With Background */
    float: right;
    background-position-x: center;
    /*background-size: 110% 100%;*/
    background-size:cover;
    background-repeat: no-repeat;
    /*background-image: url(../images/fondo_beneicios.png);*/
    background-image: url('../images/mutualiac_comercios_fondo.png');
    width: 70%;
    height: 100%;
    text-align: center;
    padding-top: 250px;
    padding-left: 4rem;
    padding-right: 4rem;
}

.right-menu .title { /* Right Side Title*/
  color: #fff;
  font-size: 3rem;
  font-family: 'Raleway Thin';
}

.right-menu .description { /* Right Side Description */
  color: #fff;
  margin-top: 4rem;
  font-family: 'Raleway Light';
}

.right-menu .title{ /* Right Side Title Animation */
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
.right-menu .description { /* Right Side Description Animation */
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}
.right-menu .btn-custom2 { /* Right Side Button Animation */
  animation: fadein 4.5s;
  -moz-animation: fadein 4.5s; /* Firefox */
  -webkit-animation: fadein 4.5s; /* Safari and Chrome */
  -o-animation: fadein 4.5s; /* Opera */
}

#footerLogin a{
    color: #000;
}

#footerLogin{
    bottom: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}

#footerLogin img{
    width: 30px;
    margin-top: -1px;
    margin-left: 0px;
}